<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuyu.mapper.EmployeeMapper">

    <insert id="insert">
        insert  into  employee (name, username, password, phone, sex, id_number, status, create_time, update_time, create_user, update_user)
               values
                               (#{name},#{username},#{password},#{phone},#{sex},#{idNumber},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>

    <select id="pageQuery" resultType="com.fuyu.entity.Employee">
        select * from employee
         <where>
             <if test="name !=null and name !=''">
                 name like concat('%',#{name},'%')
             </if>
         </where>
          order by create_time desc
    </select>
<!--    UPDATE 表名 SET 字段名1 = 值1 , 字段名2 = 值2 , .... [ WHERE 条件 ] ;-->
    <update id="update" parameterType="Employee">
        update employee
         <set>
              <if test="name !=null">
                  name =#{name},
              </if>
            <if test="username !=null">
              username=#{username},
            </if>
             <if test="password !=null">
                 username=#{password},
             </if>
             <if test="phone !=null">
                 phone=#{phone},
             </if>
             <if test="sex !=null">
                 sex=#{sex},
             </if>
             <if test="idNumber !=null">
                 id_number=#{idNumber},
             </if>
             <if test="status !=null">
                 status=#{status},
             </if>
             <if test="createTime !=null">
                 create_time=#{createTime},
             </if>
             <if test="updateTime !=null">
                 update_time=#{updateTime},
             </if>
             <if test="updateUser !=null">
                 update_User=#{updateUser},
             </if>
         </set>
            where id=#{id}
    </update>
</mapper>
